html {
  font-size: 2.08333333vw;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

body,
input,
select,
textarea,
button {
  font-size: 2.08333333vw;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

p {
  font-size: 1.875vw;
  font-weight: 500;
}

.p_bottom {
  padding-bottom: 8.12500000vw;
}

br {
  font-size: 5px;
  line-height: 5px;
  font-family: 'Dotum';
}

::-webkit-input-placeholder {
  font-size: 1.75vw;
  font-weight: 500;
  letter-spacing: -0.04166667vw;
  color: #ccc;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
  background-color: #fff;
}

:-ms-input-placeholder {
  font-size: 1.75vw;
  font-weight: 500;
  letter-spacing: -0.04166667vw;
  color: #ccc;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
  background-color: #fff;
}

::placeholder {
  font-size: 1.75vw;
  font-weight: 500;
  letter-spacing: -0.04166667vw;
  color: #ccc;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
  background-color: #fff;
}

.btn_full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 6.25vw;
  padding: 1.77083333vw 0;
  border-radius: 0.52083333vw;
  font-size: 2.08333333vw;
  font-weight: 500;
  letter-spacing: -0.02083333vw;
  color: #fff;
}

.btn_inline {
  display: inline-block;
  min-width: 7.29166667vw;
  padding: 1.021vw 0.721vw;
  border-radius: 0.52083333vw;
  font-size: 1.35416667vw;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.wrap_btn {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3.75000000vw;
}

.wrap_btn_fxd {
  position: relative;
  width: 100%;
  padding: 0 2.08333333vw 3.75000000vw 2.08333333vw;
  background-color: #fff;
}

.btn_srch_type1 {
  z-index: 1;
  position: absolute;
  width: 3.37500000vw;
  height: 2.47500000vw;
  top: 2.2vw;
  right: 2.004vw;
}

.btn_delete {
  position: absolute;
  width: 2.08333333vw;
  height: 2.08333333vw;
  margin-top: 0.399vw;
  margin-left: 0.52083333vw;
  padding: 0.299vw 0.499vw 0.499vw 0.499vw;
  background-color: #88898c;
}

.btn_upload {
  display: inline-block;
  width: 5.87500000vw;
  height: 5.87500000vw;
  padding: 1.45vw 0;
  border-radius: 0.52083333vw;
  text-align: center;
  background-color: #f4f5f7;
}

.input_txt_type1 {
  position: relative;
  width: 100%;
  height: 6.50000000vw;
  /*padding: 1.875vw 0 1.875vw 0.31250000vw;*/
  padding: 2.08333333vw 0;
  border: 0 none;
  font-size: 2.08333333vw;
  font-weight: 500;
  line-height: 2.08333333vw;
  color: #333;
}

.input_txt_type1::-webkit-input-placeholder {
  font-size: 2.08333333vw;
  color: #ccc;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

.input_txt_type1::-moz-placeholder {
  font-size: 2.08333333vw;
  color: #ccc;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

.input_txt_type1:-ms-input-placeholder {
  font-size: 2.08333333vw;
  color: #ccc;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

.input_txt_type1::placeholder {
  font-size: 2.08333333vw;
  color: #ccc;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

.input_txt_type2 {
  display: block;
  width: 100%;
  min-height: 31.25000000vw;
  padding: 1.875vw;
  font-size: 1.75vw;
  font-weight: 500;
  line-height: 1.5em;
  color: #333;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
}

.input_txt_type2::-webkit-input-placeholder {
  font-size: 1.75vw;
  color: #ccc;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

.input_txt_type2:-ms-input-placeholder {
  font-size: 1.75vw;
  color: #ccc;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

.input_txt_type2::-moz-placeholder {
  font-size: 1.75vw;
  color: #ccc;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

.input_txt_type2::placeholder {
  font-size: 1.75vw;
  color: #ccc;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

.m_input_type1 {
  overflow: hidden;
  width: 100%;
  height: 6.7vw;
  background-color: #f4f5f7;
}

.input_srch_type1 {
  width: calc(100% - 3.75vw);
  height: 3.367vw;
  margin: 1.65vw 1.875vw;
  padding: 0.342vw 4.746vw 0.342vw 1.046vw;
  font-size: 1.75vw;
  font-weight: 500;
  border: 0 none;
  color: #333;
  background-color: #fff;
}

.input_srch_type1::-webkit-input-placeholder {
  font-size: 1.75vw;
  color: #ccc;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

.input_srch_type1::-moz-placeholder {
  font-size: 1.75vw;
  color: #ccc;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

.input_srch_type1:-ms-input-placeholder {
  font-size: 1.75vw;
  color: #ccc;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

.input_srch_type1::placeholder {
  font-size: 1.75vw;
  color: #ccc;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

.m_input_type2 {
  overflow: hidden;
  width: 100%;
  height: 6.5vw;
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
}

.m_input_type3 {
  overflow: hidden;
  width: 100%;
  margin-top: 1.87500000vw;
  border: 1px solid #ebebeb;
  border-radius: 0.52083333vw;
}

.wrap_form {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 6.7vw;
  top: 0;
  right: 0;
  left: 0;
}

.select_option {
  width: 100%;
  height: 6.5vw;
  padding: 2.08333333vw 0;
  cursor: pointer;
  font-size: 2.08333333vw;
  font-weight: 500;
  line-height: 2.08333333vw;
  color: #333;
  background-image: url("../images/ico_select.png");
  background-position: 98.6% 51.6%;
  background-repeat: no-repeat;
  background-size: 1.14583333vw 0.72916667vw;
  background-color: #fff;
}

.ico_comm {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  background-image: url("../images/ico_comm.png");
  background-size: 10.41666667vw 10.41666667vw;
}

.ico_landing {
  width: 1.87500000vw;
  height: 1.87500000vw;
  background-position: 0 0;
}

.ico_arr_r {
  width: 0.975vw;
  height: 1.37500000vw;
  background-position: -2.5vw 0;
}

.ico_arr_l {
  width: 1.6vw;
  height: 2.17500000vw;
  background-position: -5.62500000vw 0;
}

.ico_prev {
  width: 1.35vw;
  height: 2.4vw;
  margin-top: 0.213vw;
  margin-right: 1.04166667vw;
  background-position: -2.5vw -5.62500000vw;
}

.ico_arr_d {
  width: 1.575vw;
  height: 0.975vw;
  background-position: -3.75000000vw -1.25000000vw;
}

.ico_arr_u {
  width: 1.14583333vw;
  height: 0.87500000vw;
  background-position: -3.12500000vw 0;
}

.ico_srch {
  width: 3.37500000vw;
  height: 2.47500000vw;
  background-position: -7.5000000vw 0;
}

.ico_top {
  width: 2.25vw;
  height: 2.75vw;
  margin-top: 1.04166667vw;
  /*margin-left: 1.3vw;*/
  /*text-align: center;*/
  background-position: 0 -2.5vw;
  margin-left: 1.25vw;

}

.ico_menu {
  width: 2.62500000vw;
  height: 3.06250000vw;
  background-position: -5.62500000vw -5.62500000vw;
}

.ico_dot {
  width: 0.41666667vw;
  height: 0.41666667vw;
  background-position: 0 -5.00000000vw;
}

.ico_delete {
  width: 1.3vw;
  height: 1.3vw;
  background-position: 0 -5.62500000vw;
}

.ico_upload {
  width: 2.70000000vw;
  height: 2.70000000vw;
  background-position: -3.75000000vw -2.50000000vw;
}

.txt_common {
  font-size: 1.875vw;
  color: #333;
}

#mWrap {
  position: absolute !important;
  width: 100%;
  top: 0 !important;
  left: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}

@media screen and (min-height: 43.12500000vw) {
  #mWrap {
    height: 100vh;
  }
}

.inner_p {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  padding: 0 2.08333333vw;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#mHeader {
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 6.500000004vw;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
}

.m_header_type1 .inner_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 6.500000004vw;
}

.m_header_type2 .inner_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 6.500000004vw;
}

.tit_maintit {
  display: block;
  font-size: 2.25vw;
  font-weight: 900;
  letter-spacing: -0.04166667vw;
  color: #333 !important;
}

.link_back {
  position: absolute;
  width: 1.6vw;
  height: 2.17500000vw;
  top: 2.383vw;
  left: 2.08333333vw;
}

.link_home {
  position: absolute;
  width: 2.62500000vw;
  height: 3.06250000vw;
  top: 1.975vw;
  right: 2.08333333vw;
}

#mMain {
  position: relative;
  width: 100%;
  /*height: calc(100% - 6.500000004vw);*/
  margin: 0 auto;
  padding-top: 6.500000004vw;
  background-color: #fff;
}

.list_main {
  position: relative;
  height: 100%;
  margin-bottom: 6.249999996vw;
  padding-top: 2.55208333vw;
  padding-bottom: 8.12500000vw;
}

.list_main li {
  padding: 2.183vw 0;
}

.list_main .tit_subtit,
.list_main .link_main {
  display: inline-block;
  font-size: 2.08333333vw;
  font-weight: 700;
  /*line-height: 2.08333333vw;*/
  line-height: 2.583vw;
  letter-spacing: -0.142vw;
  vertical-align: top;
  color: #333;
}

.list_main .ico_arr_r {
  position: absolute;
  right: 0;
  /*margin-top: 0.26vw;*/
  margin-top: 0.56vw;
}

.list_main .ico_landing {
  position: absolute;
  right: 0;
  margin-top: 0.317vw;
}

.list_qna {
  position: relative;
  width: 100%;
  margin-bottom: 0 !important;
  padding-top: 2.55208333vw;
  padding-bottom: 8.12500000vw;
}

.list_qna .ico_arr_d {
  position: absolute;
  right: 0;
  margin-top: 0.75vw;
}

.list_q {
  position: relative;
  margin: 0 2.08333333vw;
  padding: 2.183vw 0;
  cursor: pointer;
  line-height: 2.08333333vw;
  border-bottom: 1px solid #ebebeb;
}

.txt_q {
  display: inline-block;
  font-size: 1.87500000vw;
  font-weight: 700;
  /*line-height: 1.87500000vw;*/
  line-height: 2.583vw;
  letter-spacing: -0.04166667vw;
  vertical-align: top;
  color: #333;
}

.list_a {
  overflow-x: hidden;
  display: none;
  width: 100%;
  margin: 0 auto;
  padding: 3.00000000vw 3.5vw 6.25000000vw;
  font-size: 1.66666667vw;
  font-weight: 500;
  line-height: 2.367vw;
  background-color: #f4f5f7;
}

.policy_detail,
.policy_detail li,
.policy_detail p {
  font-size: 1.66666667vw;
  font-weight: 500;
  line-height: 2.367vw;
  letter-spacing: -0.012345679vw;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

.list_a table {
  width: 100%;
  margin: 1.033vw 0 2.65vw;
  border: 1px solid #333;
}

.list_a table td {
  padding: 1.547170vw 1.072vw;
  border: 1px solid #333;
  font-size: 1.66666667vw;
  line-height: 2.367vw;
}

.wrap_result .tit_result {
  display: inline-block;
  font-size: 2.08333333vw;
  margin-top: 2.08333333vw;
}

.wrap_result .wrap_btn {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0 0 2.75000000vw 0;
  background-color: #fff;
}

.cont_result_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: calc(100vh - 21.56250000vw);
  margin-top: 1.875vw;
  padding: 12.2vw 0;
  border-top: 1px solid #ebebeb;
}

.cont_result_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 15.542vw);
  text-align: center;
}

.cont_result_2 p {
  font-size: 1.75vw;
  font-weight: 500;
  line-height: 2.59166667vw;
  margin-bottom: 2.59166667vw;
  color: #494949;
}

.txt_result {
  display: inline-block;
  font-size: 1.75000000vw;
  font-weight: 500;
  line-height: 1.75000000vw;
  letter-spacing: -0.04166667vw;
  color: #494949;
}

.img_alert {
  width: 7.12500000vw;
  height: auto;
  margin: 2.1vw auto 1.05vw auto;
}

.img_chk {
  display: inline-block;
  width: 7vw;
  height: 7vw;
  margin: 3.5vw auto 2.5vw auto;
}

.txt_count {
  display: block;
  width: 100%;
  margin-top: 0.825vw;
  font-size: 1.5000000vw;
  font-weight: 400;
  line-height: 1.5000000vw;
  text-align: right;
  color: #ccc;
}

.wrap_upload .txt_g5 {
  font-size: 1.75vw;
  height: 2vw;
  line-height: 1.892vw;
}

.list_upload li + li {
  margin-top: 0.55vw;
}

#btnTop {
  opacity: 0;
  z-index: 7721;
  position: fixed;
  display: inline-block;
  width: 4.75vw;
  height: 4.75vw;
  right: 3.12500000vw;
  bottom: 3.12500000vw;
  border-radius: 50%;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  -moz-transition: opacity 0.5s, visibility 0.5s;
  -ms-transition: opacity 0.5s, visibility 0.5s;
  -o-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
  line-height: 3.95833333vw;
  text-align: center;
  visibility: visible;
  /*background-image: url("../images/ico_top.png") center center no-repeat;*/
  background-color: #ccc;
}

.showButton {
  opacity: 1 !important;
  visibility: visible !important;
}

.list_chk {
  position: relative;
  margin-top: 2.55208333vw;
  margin-bottom: 1.875vw;
}

.list_chk .list_title {
  position: relative;
  margin: 0 2.08333333vw;
  padding: 1.92708333vw 0;
  border-bottom: 1px solid #ebebeb;
  line-height: 1.592vw;
  cursor: pointer;
}

.list_chk .list_title.is_active {
  border: 0 none;
}

.list_chk .wrap_title {
  position: relative;
  width: 100%;
  padding-top: 1.875vw;
}

.list_chk .wrap_title p,
.list_chk .wrap_title .txt_common {
  width: calc(100% - 2.08333333vw);
  font-weight: 700;
  line-height: 2.29166667vw;
  letter-spacing: -0.02083333vw;
}

.list_chk .wrap_title .ico_arr_d {
  position: absolute;
  width: 1.575vw;
  height: 0.975vw;
  top: 50%;
  right: 0;
  margin-top: 0.75vw;
}

.list_chk .list_article {
  display: none;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 1.875vw 2.08333333vw;
  font-size: 1.66666667vw;
  font-weight: 500;
  line-height: 2.29166667vw;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f4f5f7;
}

.wrap_process,
.wrap_process p,
.txt_article {
  display: block;
  font-size: 1.66666667vw;
  font-weight: 500;
  line-height: 2.367vw;
  letter-spacing: -0.02083333vw;
}

.txt_status {
  display: inline-block;
  margin: 0.8vw 0 0 0.2vw;
  padding-top: 0.3vw;
  padding-left: 0;
  font-size: 1.35416667vw;
  font-weight: 500;
  vertical-align: top;
  color: #88898c;
}

.wrap_file {
  position: relative;
  width: 100%;
  margin: 1.75vw 0;
  font-size: 1.75vw;
  font-weight: 400;
  line-height: 2.29166667vw;
}

.wrap_file .txt_file {
  display: block;
  font-size: 1.458333vw;
  font-weight: 400;
  line-height: 2.29166667vw;
  color: #ccc;
}

.list_customer {
  position: relative;
  padding-top: 2.55208333vw;
  padding-bottom: 8.12500000vw;
}

.list_customer > li {
  padding: 2.183vw 0;
}

.list_customer a,
.list_customer .tit_subtit,
.list_customer .link_customer {
  display: inline-block;
  font-size: 2.08333333vw;
  font-weight: 700;
  /*line-height: 2.08333333vw;*/
  line-height: 2.583vw;
  letter-spacing: -0.142vw;
  vertical-align: top;
  color: #333;
}

.list_customer .ico_arr_r {
  position: absolute;
  right: 0;
  /*margin-top: 0.26vw;*/
  margin-top: 0.56vw;
}

.list_customer .ico_landing {
  position: absolute;
  right: 0;
  margin-top: 0.317vw;
}

.wrap_error {
  width: 100%;
  height: calc(100% - 6.5000004vw);
}

.wrap_error .img_alert {
  width: auto;
  height: 8.000000004vw;
  /*margin: 2.1vw auto 1.05vw auto;*/
}

.wrap_error .wrap_btn {
  position: relative;
  width: 100%;
  padding: 1.4vw 0 2.75000000vw 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.img_error {
  width: 17.70833333vw;
  height: 9.89583333vw;
}

.cont_error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 16.967vw);
  text-align: center;
}

.cont_error .img_error {
  margin-top: -6.6vw;
}

.cont_error p,
.cont_error .txt_common {
  display: inline-block;
  margin-top: 0;
  font-size: 1.75vw;
  font-weight: 500;
  line-height: 2.59166667vw;
  color: #494949;
}

#mFooter {
  position: fixed;
  height: 6.249999996vw;
  bottom: 0;
}

#mFooter .inner_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 6.249999996vw;
  margin: 0 auto;
}

.list_footer {
  width: 100%;
  max-width: 56.25000000vw;
  margin: 0 auto;
  padding-bottom: 4.37500000vw;
  text-align: center;
  text-overflow: inherit;
  word-break: keep-all;
  color: #565858;
}

.txt_footer,
.txt_copyright {
  display: inline;
  font-size: 1.25vw;
  font-weight: 400;
  letter-spacing: -0.02083333vw;
  line-height: 2em;
  color: #565858;
}
